@import url('https://fonts.googleapis.com/css?family=Overpass:300,400');

@keyframes shock {
    0% {
        transform: translate(-51%, -52%) rotate(4deg) scale(1.05, 1.05);
    }

    1% {
        transform: translate(-55%, -47%) rotate(-4deg) scale(.95, .95);
    }

    2% {
        transform: translate(-47%, -54%) rotate(-4deg) scale(1, 1);
    }

    3% {
        transform: translate(-51%, -51%) rotate(0deg) scale(.95, .95);
    }

    4% {
        transform: translate(-52%, -46%) rotate(0deg) scale(1.04, 1.02);
    }

    5% {
        transform: translate(-50%, -54%) rotate(2deg) scale(1, 1);
    }

    6% {
        transform: translate(-47%, -48%) rotate(5deg) scale(1.1, 1.06);
    }

    7% {
        transform: translate(-53%, -51%) rotate(-2deg) scale(.95, .89);
    }

    8% {
        transform: translate(-47%, -54%) rotate(2deg) scale(1, 1);
    }

    9% {
        transform: translate(-55%, -55%) rotate(0deg) scale(1, 1);
    }

    10% {
        transform: translate(-49%, -47%) rotate(4deg) scale(.89, .95);
    }

    11% {
        transform: translate(-54%, -55%) rotate(-5deg) scale(1.1, 1.04);
    }

    12% {
        transform: translate(-50%, -50%) rotate(0deg) scale(1, 1);
    }

    100% {
        transform: translate(-50%, -50%) rotate(0deg) scale(1, 1);
    }
}

@keyframes shock2 {
    0% {
        transform: translate(-52%, -53%) rotate(4deg) scale(1.1, 1.1);
    }

    1% {
        transform: translate(-54%, -46%) rotate(-4deg)  scale(1.1, 1.1);
    }

    2% {
        transform: translate(-46%, -55%) rotate(-4deg) scale(1.1, 1.1);
    }

    3% {
        transform: translate(-50%, -52%) rotate(0deg) scale(1.1, 1.1);
    }

    4% {
        transform: translate(-53%, -47%) rotate(0deg) scale(1.1, 1.1);
    }

    5% {
        transform: translate(-49%, -55%) rotate(2deg) scale(1.1, 1.1);
    }

    6% {
        transform: translate(-48%, -49%) rotate(5deg) scale(1.1, 1.1);
    }

    7% {
        transform: translate(-52%, -53%) rotate(-2deg) scale(1.1, 1.1);
    }

    8% {
        transform: translate(-48%, -53%) rotate(2deg) scale(1.1, 1.1);
    }

    9% {
        transform: translate(-47%, -47%) rotate(0deg) scale(1.1, 1.1);
    }

    10% {
        transform: translate(-50%, -50%) rotate(4deg) scale(1.1, 1.1);
    }

    11% {
        transform: translate(-56%, -53%) rotate(-5deg) scale(1.1, 1.1);
    }

    12% {
        transform: translate(-50%, -50%) rotate(0deg) scale(1.1, 1.1);
    }

    100% {
        transform: translate(-50%, -50%) rotate(0deg) scale(1.1, 1.1);
    }
}

@keyframes shock3 {
    0% {
        transform: translate(-52%, -53%) rotate(4deg) scale(1.2, 1.2);
    }

    1% {
        transform: translate(-54%, -46%) rotate(-4deg)  scale(1.2, 1.2);
    }

    2% {
        transform: translate(-46%, -55%) rotate(-4deg) scale(1.4, 1.2);
    }

    3% {
        transform: translate(-50%, -52%) rotate(0deg) scale(1.2, 1.4);
    }

    4% {
        transform: translate(-53%, -47%) rotate(0deg) scale(1.2, 1.2);
    }

    5% {
        transform: translate(-49%, -55%) rotate(2deg) scale(1, 1.1);
    }

    6% {
        transform: translate(-48%, -49%) rotate(5deg) scale(1.3, 1.3);
    }

    7% {
        transform: translate(-52%, -53%) rotate(-2deg) scale(1.2, 1.2);
    }

    8% {
        transform: translate(-48%, -53%) rotate(2deg) scale(1.2, 1.2);
    }

    9% {
        transform: translate(-47%, -47%) rotate(0deg) scale(1.4, 1);
    }

    10% {
        transform: translate(-50%, -50%) rotate(4deg) scale(1, 1.2);
    }

    11% {
        transform: translate(-56%, -53%) rotate(-5deg) scale(1.2, 1.2);
    }

    12% {
        transform: translate(-50%, -50%) rotate(0deg) scale(1.2, 1.2);
    }

    100% {
        transform: translate(-50%, -50%) rotate(0deg) scale(1.2, 1.2);
    }
}

@keyframes power {
    0% {
        opacity: 0;
    }

    1% {
        opacity: 0;
    }

    2% {
        opacity: 0;
    }

    3% {
        opacity: 1;
    }

    4% {
        opacity: 1;
    }

    5% {
        opacity: 0;
    }

    6% {
        opacity: .6;
    }

    7% {
        opacity: 0;
    }

    8% {
        opacity: 0;
    }

    9% {
        opacity: 1;
    }

    10% {
        opacity: 1;
    }

    11% {
        opacity: 0;
    }

    12% {
        opacity: .7;
    }

    100% {
        opacity: .7;
    }
}

@keyframes power2 {
    0% {
        opacity: 0;
    }

    1% {
        opacity: 0;
    }

    2% {
        opacity: 0;
    }

    3% {
        opacity: 1;
    }

    4% {
        opacity: 1;
    }

    5% {
        opacity: 0;
    }

    6% {
        opacity: .6;
    }

    7% {
        opacity: 0;
    }

    8% {
        opacity: 0;
    }

    9% {
        opacity: 1;
    }

    10% {
        opacity: 1;
    }

    11% {
        opacity: 0;
    }

    12% {
        opacity: .1;
    }

    100% {
        opacity: .1;
    }
}

@keyframes appear {
    0% {
      opacity: 0;  
      transform: scale(0, 0);
    }

    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}